    body {
        background-color: #333;
        font-family: 'Lato', sans-serif;
        }

        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;     
        }

    h1 {
        font-family: 'Trebuchet MS', sans-serif;
        text-align: center;
        padding-top: 5px;
        color: #050505;
        }

    p {
        color: #050505;
        padding-top: 20px;
        padding-left: 20px;
        }

    #result, #time, #comment {
        color: #0e0d0d;
        font-weight: 800;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

    #userChoose, #rightChoose {
        display: none;
        }
    
    #main {
        align-items: center;
        padding: 20px;
        background-color: rgb(252, 252, 252);
        margin-top: 200px;
        margin-left:300px;
        margin-right:300px;
        border-radius: 12px;
        }

    .ull a{
        text-decoration: none;
        color: #8a8a8a;
        }
        
    /*footer*/
    .footer {
        background: #000;
        color: white;
        font-size: 14px;
        padding: 60px 0 20px;
        margin-top: 300px;
        bottom:0;
        }
    
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        }

    .footer-col-3 a{
        color: white;
        text-decoration: none;
        }
    
    .footer-col-3 a:hover{
        color: #EB5757;
        }
        
    .ull a{
        text-decoration: none;
        color: white;
        }



    

    
    